@media (prefers-color-scheme: dark) {
  :root {
    --splash-bg: #000;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --splash-bg: #fff;
  }
}

html, body {
  background-color: var(--splash-bg);
}

/* Hide app content until loaded */
#__next {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

#__next.ready {
  opacity: 1;
}